{% extends 'accounts/base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}





{% block content %}



 <div class="ibox float-e-margins">
              <div class="ibox-content">

                   <div id="editable_length" class="dataTables_length">
                    <table id="editable" class="table table-striped table-bordered table-hover dataTable" role="grid" aria-describedby="editable_info">
                    <thead>
                    <tr>
                        <th>category</th>
                        <th>title</th>
                        <th>payout</th>
                        <th>countries</th>
                        <th>linkOffer</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in Table %} 
                    <tr class="gradeX">
                        <td>{{item.category}}</td>
                        <td>{{item.title}}</td>
                        <td>{{item.payout}}</td>
                        <td>{{item.countries}}</td>
                        <td><a href="http://{{item.linkOffer}}">{{item.linkOffer}}</a></td>
                    </tr>                          
                     {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>category</th>
                        <th>title</th>
                        <th>payout</th>
                        <th>countries</th>
                        <th>linkOffer</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
				</div>	
				


{% endblock %}
