{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Signin" %}{% endblock %}

{% block content %}
    <div class="login-card">
        <p class="profile-name-card"> </p>
        <form class="form-signin" method="post">
            {% csrf_token %}
            <span class="reauth-email" > </span>             
             {{ form.non_field_errors }}
             {% for field in form %}                
                 {% if field.name == 'remember_me' %}
                     <p class="checkbox">
                         <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
                     </p>
                {% else %}
                    {{ field }}
                {% endif %}
             {% endfor %}
            <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Войти</button>
        </form>
    </div>
{% endblock %}
