<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'accounts/assets/bootstrap/css/bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'accounts/assets/bootstrap/css/dataTables.bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/assets/css/user.css' %}">
</head>

<body>
 {% block content %}




 {% endblock %}

    <script src="{% static 'accounts/assets/js/jquery-2.2.0.js' %}"></script>
    <script src="{% static 'accounts/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'accounts/assets/js/jquery.dataTables.min.js' %}"></script>

     {% block custom_jsscript %}
       $(document).ready(function () {
                $('#example').DataTable();
            });
            function filterGlobal() {
                $('#example').DataTable().search(
                    $('#global_filter').val(),
                    $('#global_regex').prop('checked'),
                    $('#global_smart').prop('checked')
                ).draw();
            }



    {% endblock %}





</body>
</html>